<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
import AlbumService from "../services/AlbumService";

export default {
  name: 'HelloWorld',
  data() {
    return {
      msg: ""
    }
  },
  methods: {
    getAlbums() {
      AlbumService.getAll()
      .then(response => {
        this.msg = response.data;
        console.log(response.data);
      })
    }
  },
  mounted() {
    this.getAlbums();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
